<!DOCTYPE html>
<html ng-app="formApp">
<head>
	<link href="app-form/css/congress-styles.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl as ctrl">
	<h1>MIDDLE SCHOOL WITH VALIDATON</h1>
	<div class="wrapper">
		<div class="worksheet">
			<div class="branch">
				<p>Legislative Branch (Congress)</p>
				<p>100 <span class="fill" ng-bind="upperHouse"></span> + <span class="fill"> {{totReps}}</span> Representatives</p>
				<img src="img/congress.jpg">
			</div>

		</div>
		
		<div class="questions">
			<ng-form name="congress">
			<p>One house of Congress is made up of 100 
			<input type="text"
					id="sens"
					ng-model="upperHouse"
					placeholder="upper house"
					ng-pattern="/senators/i">.</p>
			<p>The other house is made up of 
			<input type="text"
					id="reps"
					ng-model="totReps"
					ng-pattern="/435/"> Representatives.</p>
			<p><span class="fill">{{upperHouse}}</span> are elected for a 
			<input type="number"
					id="senTerm"
					name="sen"
					ng-model="senTerm"
					placeholder="number"
					ng-pattern="/6/"> year term.</p>
			<p>Representatives face election every  
			<input type="number"
					id="houseTerm"
					name="house"
					ng-model="houseTerm"
					placeholder="number"
					ng-pattern="/2/"> years.<span class="required" ng-show="congress.house.$error.pattern">They face the voters most frequently.</span></p>
			<p>Each state has   
			<input type="text"
					id="numSen"
					name="stateSen"
					ng-model="numSen"
					placeholder="number"
					ng-pattern="/2/"
					required><span class="fill">{{upperHouse}}</span>.<span class="required" ng-show="congress.stateSen.$error.required">Required field</span></p>
			<p>The number of Representatives from each state depends on that state's    
			<input type="text"
					id="numReps"
					name="stateRep"
					ng-model="numReps"
					ng-pattern="/population/i">.<span class="required" ng-show="congress.stateRep.$error.pattern">This is the most democratic part of Congress. The more people, the more Representatives.</span></p>
			<p ng-show="congress.$pristine" class="instructions" id="start">REFRESH YOUR BASIC CIVICS KNOWLEDGE--</br>
			PLEASE FILL IN THE ABOVE FORM.</p>
			<p ng-show="congress.$dirty" class="instructions" id="working">THANKS! PLEASE FILL IN ALL THE BLANKS.</p>


			<p ng-show="congress.$valid" class="instructions" id="finishing">LOOKING GOOD! MAKE ALL THE BOXES GREEN.</p>

			<!-- have a $pristine, $dirty, $valid message -->

			<ng-form>

		</div>
	</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
<script type="text/javascript">
	angular.module('formApp', [])
		.controller('MainCtrl', [function() {
			var self = this;
			self.submit = function() {
				console.log("Submitted with", self.username);
			};
		}]);
</script>
</body>
</html>